@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

h1{
    font-size: 50px; font-family: sans-serif; text-align: center;
}

h2{
    font-size: 35px; font-family: sans-serif;
}

p{
    text-align: justify; font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.rp:hover{
   text-decoration: underline;
}

/*--Início da formatação do zoom--*/
 div#txtz{
     display: block;
     width: 450px;
     float: left;
}

div#txtz p{
    padding-left: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

}

div#txtz h2{
    padding-left: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    
}

div#vidz{
    display: block;
    width: 730px;
    float: right;
    
}

div#vidz iframe{
    box-shadow: 1px 1px 6px black;
    
}

div#vidz p{
    text-align: center;
    padding-top: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

}

div#vidz a{
   background-image: url(./img/zoom.png);
   text-indent: -9999px;
   display: inline-block;
   position: absolute;
   width: 64px;
   height: 64px;
   margin-left: 9px;
   margin-top: -12px;
   background-repeat: no-repeat;
   
}

/*--Fim da formatação do zoom--*/

/*--Início da formatação do Whereby--*/
div#txtw{
    display: block;
    width: 470px;
    float: left;
}

div#txtw p{
   padding-left: 20px;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

}

div#txtw h2{
   padding-left: 20px;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

div#vidw{
   display: block;
   width: 730px;
   float: right;
   
}

div#vidw iframe{
   box-shadow: 1px 1px 6px black;
   
}

div#vidw p{
   text-align: center;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

}

div#vidw a{
   background-image: url(./img/whereby.png);
   text-indent: -9999px;
   display: inline-block;
   position: absolute;
   width: 64px;
   height: 64px;
   margin-left: 9px;
   margin-top: -12px;
   background-repeat: no-repeat;
   
}

/*--Fim da formatação do Whereby--*/

/*--Início da formatação do skype--*/
div#txts{
    display: block;
    width: 500px;
    float: left;
}

div#txts p{
   padding-left: 20px;
   color: white;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

}

div#txts h2{
   padding-left: 20px;
   color: white;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

div#vids{
   display: block;
   width: 730px;
   float: right;
   
}

div#vids iframe{
   box-shadow: 1px 1px 6px black;
   
}

div#vids p{
   text-align: center;
   color: white;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

}

div#vids a{
   background-image: url(./img/skype.png);
   text-indent: -9999px;
   display: inline-block;
   position: absolute;
   width: 64px;
   height: 64px;
   margin-left: 9px;
   margin-top: -12px;
   background-repeat: no-repeat;
   
}

/*--Fim da formatação do skype--*/

/*--Início da formatação do google meet--*/
div#txtg{
    display: block;
    width: 450px;
    float: left;
}

div#txtg p{
   padding-left: 20px;
   color: black;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

div#txtg h2{
   padding-left: 20px;
   color: black;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

div#vidg{
   display: block;
   width: 730px;
   float: right;
   
}

div#vidg iframe{
   box-shadow: 1px 1px 6px black;
}

div#vidg p{
   text-align: center;
   color: black;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

div#vidg a{
   background-image: url(./img/googlem.png);
   text-indent: -9999px;
   display: inline-block;
   position: absolute;
   width: 64px;
   height: 64px;
   margin-left: 9px;
   margin-top: -12px;
   background-repeat: no-repeat;
   
}

/*--Fim da formatação do google meet--*/

/*--Início da formatação do discord--*/
div#txtd{
    display: block;
    width: 510px;
    float: left;
}

div#txtd p{
   padding-left: 20px;
   color: white;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}


div#txtd h2{
   padding-left: 20px;
   color: white;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

div#vidd{
   display: block;
   width: 730px;
   float: right;
}

div#vidd iframe{

   box-shadow: 1px 1px 6px black;
   
}

div#vidd p{
   text-align: center;
   color: white;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

div#vidd a{
   background-image: url(./img/discord.png);
   text-indent: -9999px;
   display: inline-block;
   position: absolute;
   width: 64px;
   height: 64px;
   margin-left: 9px;
   margin-top: -10px;
   background-repeat: no-repeat;
   
}

/*--Fim da formatação do discord--*/

/*--Início da formatação das areas--*/

div#areaz{
   background-color: #3385ff;
   box-shadow: 1px 1px 10px black;
   margin-bottom: -45px;
}

div#areas{
   background-color: rgb(0, 170, 254);
   box-shadow: 1px 1px 10px black;
}

div#areaw{
   background-color: #fff3e6;
   box-shadow: 1px 1px 10px black;
}

div#areag{
   background-color: #00e6ac;
   box-shadow: 1px 1px 10px black;
}

div#aread{
   background-color: #7289DA;
   box-shadow: 1px 1px 10px black;
   padding-bottom: -150px;
}

/*Area da Introdução*/

div#areai{
   background-color: #b3b3b3;
   box-shadow: 1px 1px 10px black;
   margin: -30px auto 5px auto;
   padding-bottom: 80px;
   

}

div#areai h1{
   color: black;
   font-family: 'Holtwood One SC', serif;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 50px;
   font-size: 42px;
   background-color: #999999;
}

div#pi{
   color: black;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
   display: block;
   float: left;
   width: 570px;
   padding-top: 20px;
   padding-left: 20px;
   padding-bottom: 30px;
   font-size: 42px;
}

img#icone{
   position: absolute;
   top: 3px;
   left: 270px;
   width: 90px;
   height: 90px;
}

img#foto-estudante{
   display: block;
   width: 700px;
   float: right;
   margin-top: 45px;
   margin-right: 50px;
   border: 8px solid white;
   box-shadow: 1px 1px 4px black;
}

img#foto-ods{
   display: block;
   position: relative;
   width: 750px;
   height: 350px;
   float: right;
   margin-top: 15px;
   margin-right: 70px;
   padding-right: 10px;
   border: 8px solid white;
   box-shadow: 1px 1px 4px black;
   background-color: white;
}

/*Formatação do menu*/

nav#menu ul{
   list-style: none;
   text-transform: uppercase;
   position: absolute;
   top: 851px;
   left: -17px;
}

nav#menu li{
   display: inline-block;
   background-color: #b3b3b3;
   padding: 10px;
   margin: 2px;
   transition: background-color 1s;
   box-shadow: 1px 1px 4px black;
}

nav#menu{
   display: block;
}

nav#menu h1{
   display: none;
}

nav#menu li:hover{
   background-color: #606060;
}

nav#menu a{
   color: black;
   text-decoration: none;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav#menu a:hover{
   color: #ffffff;
   text-decoration: underline;
}

/*Início da Formatação do Rodapé*/

section.social a[href*="https://www.facebook.com/Educa%C3%A7%C3%A3o-a-Dist%C3%A2ncia-103206844734213/?modal=admin_todo_tour"]	{
   background-image:	url(./img/facebook.png);
}
section.social a[href*="https://twitter.com/EducaoaDistnci1"]	{
   background-image:	url(./img/twitter.png);
}
section.social a[href*="https://www.instagram.com/educacaoadistanciauni/"]	{
   background-image:	url(./img/instagram.png);
}

.social a{
   height: 48px;
   width: 48px;
    display: block;
   text-indent: -9999px;		
}

footer#rodape{
   background-color: #b3b3b3;
   position: relative;
   width: 1335px;
   height: 85px;
   margin-top: 45px;
   padding-bottom: -20px;
   box-shadow: 1px 1px 10px black;
}

.social	{
   position:	absolute;
   top: 0px;
   left: 0;
}
.social p{
   float: left;
   margin-left: 25px;
}



